
services:
  db:
    image: postgres:15
    restart: always
    env_file:
      - ./.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      - db

  mosquitto:
    image: eclipse-mosquitto:2
    restart: always
    ports:
      - "1883:1883"
    volumes:
      - mosquitto_data:/mosquitto/data
      - mosquitto_log:/mosquitto/log
      - ./deploy/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro

  frontend:
    build:
      context: ./frontend/react-app
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  pgdata:
  mosquitto_data:
  mosquitto_log:
