<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biogestor</title>
</head>

<body>

    <h1>Usuarios pendientes de aprobación</h1>

    {% if pendientes %}
    <ul>
        {% for perfil in pendientes %}
        <li>
            {{ perfil.user.username }}
            <form method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ perfil.user.id }}">
                <button type="submit">Aprobar</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay usuarios pendientes ✅</p>
    {% endif %}

</body>

</html>